<app-header></app-header>
<br>
<br>
<div class="breadcrumb-me">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"><a href="/"><i class="fa fa-home"></i></a><img
                    src="../../content/images/divider-breadcrumb.png" alt="" /> <a href="#">TESTIMONIALS</a></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><span>Testimonials</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="testimonials">
                <div class="active item">
                    <blockquote>
                        <p>"I've only used it for half a year and I've regained more power. I feel fantastic because
                            Hammer Of Thor has given our life a new power and energy. We are now happy than never
                            before!"</p>
                    </blockquote>
                    <div class="carousel-info">
                        <img alt="" src="../../../../assets/img/testimonial-1.jpg" class="pull-left">
                        <div class="pull-left"> <span class="testimonials-name">Unknown</span> <span
                                class="testimonials-post">Customer</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="testimonials">
                <div class="active item">
                    <blockquote>
                        <p>I heard about it from my friend but I was skeptic it would work. I gave it a shot anyway, the
                            rest is history. It's about four months now and my power looks stronger. Thanks to Hammer Of
                            Thor"</p>
                    </blockquote>
                    <div class="carousel-info">
                        <img alt="" src="../../../../assets/img/testimonial-2.jpg" class="pull-left">
                        <div class="pull-left"><span class="testimonials-name">Unknown</span><span
                                class="testimonials-post">Customer</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="style15">
    <div class="row">
        <div class="col-md-6">
            <div class="testimonials">
                <div class="active item">
                    <blockquote>
                        <p>"I read about Hammer Of Thor in the internet and since I have always desired to have stamina,
                            I decided to give it a try though I wasn't sure it will give me the results I craved. Well,
                            my first pack of Hammer Of Thor is not even half way and the results are already visible.
                        </p>
                    </blockquote>
                    <div class="carousel-info">
                        <img alt="" src="../../../../assets/img/testimonial-3.jpg" class="pull-left">
                        <div class="pull-left"><span class="testimonials-name">Unknown</span><span
                                class="testimonials-post">Customer</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="testimonials">
                <div class="active item">
                    <blockquote>
                        <p>"I am surprised that Hammer Of Thor really works. I heard about it from my friend but I was
                            skeptic it would work. I gave it a shot anyway, the rest is history. It's about four months
                            now and my power looks stronger. Thanks</p>
                    </blockquote>
                    <div class="carousel-info">
                        <img alt="" src="../../../../assets/img/testimonial-1.jpg" class="pull-left">
                        <div class="pull-left"><span class="testimonials-name">Unknown</span><span
                                class="testimonials-post">Customer</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="style15">
    <div class="row">
        <div class="col-md-6">
            <div class="testimonials">
                <div class="active item">
                    <blockquote>
                        <p>"Being a man with an average stamina, I have always wanted a more power and stamina. One day
                            as I was surfing the net for some help, I landed on Hammer Of Thor, I immediately ordered
                            for it online. Since I started using it eight months ago, I've gained a lot.</p>
                    </blockquote>
                    <div class="carousel-info">
                        <img alt="" src="../../../../assets/img/testimonial-1.jpg" class="pull-left">
                        <div class="pull-left"><span class="testimonials-name">Unknown</span><span
                                class="testimonials-post">Customer</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="testimonials">
                <div class="active item">
                    <blockquote>
                        <p>This started to put a strain on our love life. One day I approached a friend who recommended
                            to me the Hammer Of Thor!. I cannot explain how the Hammer Of Thor did it.</p>
                    </blockquote>
                    <div class="carousel-info">
                        <img alt="" src="../../../../assets/img/testimonial-2.jpg" class="pull-left">
                        <div class="pull-left"><span class="testimonials-name">Unknown</span><span
                                class="testimonials-post">Customer</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="style15">
    <div class="row">
        <div class="col-md-6">
            <div class="testimonials">
                <div class="active item">
                    <blockquote>
                        <p>Slowly, the feelings of betrayal started going away, love and life was back into our
                            relationship!. Its exactly 8 months since i stopped using Hammer Of Thor, but my stamina is
                            maintained. Thanks to Google, big thanks to Hammer Of Thor.</p>
                    </blockquote>
                    <div class="carousel-info">
                        <img alt="" src="../../../../assets/img/testimonial-3.jpg" class="pull-left">
                        <div class="pull-left"><span class="testimonials-name">Unknown</span><span
                                class="testimonials-post">Customer</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="testimonials">
                <div class="active item">
                    <blockquote>
                        <p>I wondered how long she had suffered in silence and never had an outside affair. How selfish
                            of me to cheat on her! We then agreed that i should take Mens Powerment supplements. That's
                            how i came to know about Hammer Of Thor -through my wife! She said that its suitable for me.
                        </p>
                    </blockquote>
                    <div class="carousel-info">
                        <img alt="" src="../../../../assets/img/testimonial-1.jpg" class="pull-left">
                        <div class="pull-left"><span class="testimonials-name">Unknown</span><span
                                class="testimonials-post">Customer</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<app-footer></app-footer>