
<div class="continer">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="../../../../assets/img/capsul 1.jpg" alt="Mens capsul" style="width: 100%;">
          <h1>Mens capsule</h1>
          <p class="price">3000</p>
          <p>Mens capsule for stimena</p>
          <p><button>add to cart</button></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="../../../../assets/img/capsul 1.jpg" alt="Mens capsul" style="width: 100%;">
          <h1>Mens capsule</h1>
          <p class="price">3000</p>
          <p>Mens capsule for stimena</p>
          <p><button>add to cart</button></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="../../../../assets/img/capsul 1.jpg" alt="Mens capsul" style="width: 100%;">
          <h1>Mens capsule</h1>
          <p class="price">3000</p>
          <p>Mens capsule for stimena</p>
          <p><button>add to cart</button></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="../../../../assets/img/capsul 1.jpg" alt="Mens capsul" style="width: 100%;">
          <h1>Mens capsule</h1>
          <p class="price">3000</p>
          <p>Mens capsule for stimena</p>
          <p><button>add to cart</button></p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- <div class="continer">
    <div class="row"> -->
      <div class="col-md-12">
        <div class="card">
          <img src="../../../../assets/img/capsul 1.jpg" alt="Mens capsul" style="width: 100%;">
          <h1>Mens capsule</h1>
          <p class="price">3000</p>
          <p>Mens capsule for stimena</p>
          <p><button class="btn-dm">add to cart</button></p>
        </div>
      </div>
    <!-- </div>
   </div> -->
   <app-footer></app-footer>